/* ================================= 
  Flexbox
==================================== */

.container {
  display: flex; /* defines flex container (now each child of this parent will be a flex box item) */
  flex-direction: row; /* row: default, top to bottom is main axis direction (row-reverse, column, column-reverse) */
  flex-wrap: wrap;
  height: 450px;
  align-items: stretch; /* stretch: default, expand items evenly (flex start, flex end) */
  justify-content: start; /* start: default, starts at left side */
}

.item-1 {
  order: 0; /* 0: default (-1 before flex box items, 1 is after for example, can use other integers) */
}

.item {
  flex-grow: 1; /* 0: default, do not expand */
  flex-basis: 200px; /* grow if 200px or more, if not then redistribute the space */
  flex: 1 200px; /* same as above: flex-grow, flex-basis, flex-shrink */
}