/* ================================= 
  Button Transitions
==================================== */

.button {
	transition: background .3s;
}
.button:hover {
	background: rgba(74,137,202, 1);
}

/* ================================= 
  Photo 3D Transforms & Transitions
==================================== */

.photo-container {
  perspective: 700px;
  perspective-origin: bottom;
}

.photo {
  transform-style: preserve-3d;
  transition: transform 3s cubic-bezier(0.55,-0.62,0.27,1.2);
}

.photo:hover {
  transform: rotate3d(1,0,0,180deg);
}

.side-a,
.side-b {
  backface-visibility: hidden;
}
.side-b {
  transform: rotate3d(1,0,0,180deg);
}