/* :nth-child Pseudo-classes------------------ */

li:nth-child(3n+3) { /* even, odd, # (1,2,3...), an+b (up every a/-a list item starting from b item) where type doesn't matter */
    background: red;
}

li:nth-of-type(3n+3) { /* same as above but type does matter */
    background: red;
}

li:nth-last-of-type() { /* targets last # (1,2,3...) element of type li */

}