/* Structural Pseudo-classes------------------ */

li:first-child { /* list item that is the first child of the parent */
    background: #52bab3;
    color: white;
}
li:last-child { /* list item that is the last child of the parent */
    border: none;
}
:only-child { /* element that is the only child of a parent */
    color: #52bab3;
    font-size: 1.5em;
}
:empty { /* parent that does not contain anthing  */
    background-color: tomato;
}